nav.navbar.navbar-static-top, .main-header .logo {
    background-color: #ffffff !important;
-webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
color:#000;
}

.main-header .navbar .nav>li>a, .main-header .navbar .sidebar-toggle, .main-header .navbar .sidebar-toggle, .navbar .popover-region-toggle {
    color: #000 !important;
}

.main-footer,  .main-footer a {
    color: #888 !important;
    background: #f7f7f7 !important
}