nav.navbar.navbar-static-top, .main-header .logo {
    background-color: #ffffff !important;
-webkit-box-shadow:0px 1px 1px #333;
 -moz-box-shadow:0px 1px 1px #333;
 box-shadow:0px 1px 1px #333;
color:#000;
}

nav.navbar.navbar-static-top {
    background-color: #ffffff !important;
-webkit-box-shadow:0px 1px 1px #333;
 -moz-box-shadow:0px 1px 1px #333;
 box-shadow:0px 1px 1px #333;
color:#000;
}

.main-header .navbar .nav>li>a, .main-header .navbar .sidebar-toggle, .main-header .navbar .sidebar-toggle, .navbar .popover-region-toggle {
    color: #000 !important;
}

.skin-blue .main-header, .skin-blue .main-header .logo{
    background-color: white !important;
}

.main-footer,  .main-footer a {
    color: #888 !important;
    background: #f7f7f7 !important
}

/* Removing underline from header*/
h2{
    background:none !important;
}

.header-category {
    min-height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -25px;
    padding: 10px;
}
/*adding frontpage box styling */
.row.wdm_generalbox .iconbox {
   background-color: #f7f7f7;
    font-size:1.2em;
}
.row.wdm_generalbox .iconbox:hover {
   background-color: #499e37;
    color:#fff!important;
}
.row.wdm_generalbox .iconbox .iconbox-content h4:hover,.row.wdm_generalbox .iconbox .iconbox-content h4 {
    color: #fff;
}
.white{
    color: #fff !important;
}

/*Hiding things in left nav*/
li[data-key="7"],.main-sidebar .sidebar-menu li:nth-child(2){
    display: none;
}

/*Styling by brand*/
.btn-primary{
    background-color:#499e37;
    color:#fff;
}

.title-desc-wrapper.over-image.no-main-image {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 50px !important;
    background-color: #555;
}

/* Adding Proxima Nova */

@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/bff5ac/00000000000000003b9b0385/27/l?subset_id=2&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/bff5ac/00000000000000003b9b0385/27/d?subset_id=2&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/bff5ac/00000000000000003b9b0385/27/a?subset_id=2&fvd=n1&v=3) format("opentype");font-weight:100;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/85d82a/00000000000000003b9b0387/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/85d82a/00000000000000003b9b0387/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/85d82a/00000000000000003b9b0387/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/851dc2/00000000000000003b9b0389/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/851dc2/00000000000000003b9b0389/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/851dc2/00000000000000003b9b0389/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/e580ca/00000000000000003b9b038b/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/e580ca/00000000000000003b9b038b/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/e580ca/00000000000000003b9b038b/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/531964/00000000000000003b9b038c/27/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/531964/00000000000000003b9b038c/27/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/531964/00000000000000003b9b038c/27/a?subset_id=2&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/58d49b/00000000000000003b9b038f/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/58d49b/00000000000000003b9b038f/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/58d49b/00000000000000003b9b038f/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/8e18ce/00000000000000003b9b0386/27/l?subset_id=2&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/8e18ce/00000000000000003b9b0386/27/d?subset_id=2&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/8e18ce/00000000000000003b9b0386/27/a?subset_id=2&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/284206/00000000000000003b9b0388/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/284206/00000000000000003b9b0388/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/284206/00000000000000003b9b0388/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/5d1273/00000000000000003b9b038a/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/5d1273/00000000000000003b9b038a/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/5d1273/00000000000000003b9b038a/27/a?subset_id=2&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/60ba7f/00000000000000003b9b038e/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/60ba7f/00000000000000003b9b038e/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/60ba7f/00000000000000003b9b038e/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:bebas-neue;src:url(https://use.typekit.net/af/92de1a/0000000000000000000149c5/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/92de1a/0000000000000000000149c5/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/92de1a/0000000000000000000149c5/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}

h1,h2,h3,h4,h5,h6,body{
        font-family: 'Proxima Nova', Georgia, sans-serif;
}

h1, h2, h3, h4 {
    color: #333 !important;
}

body{font-size:16px;}
h1{font-size:35px;}
h2{font-size:22px;}
h3{font-size:20px;}
h4{font-size:16px;}