nav.navbar.navbar-static-top, .main-header .logo {
    background-color: #ffffff !important;
-webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
color:#000;
}

.main-header .navbar .nav>li>a, .main-header .navbar .sidebar-toggle, .main-header .navbar .sidebar-toggle, .navbar .popover-region-toggle {
    color: #000 !important;
}

.skin-blue .main-header .navbar {
    background-color: white !important;
}

.main-footer,  .main-footer a {
    color: #888 !important;
    background: #f7f7f7 !important
}

/* Removing underline from header*/
h2{
    background:none !important;
}

.header-category {
    min-height: 350px;
    background-color: #4d3069;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -25px;
    padding: 10px;
}

.white {
    color: #fff !important;
}

/*Hiding things in left nav*/
li[data-key="7"],.main-sidebar .sidebar-menu li:nth-child(2){
    display: none;
}

/*Styling by brand*/
.btn-primary{
    background-color:#499e37;
    color:#fff;
}